#!/bin/bash

. {{ OMEROBIOBANKDIR }}/{{ OMEROBIOBANK_VENV }}/bin/activate
. {{ OMEROBIOBANKDIR }}/{{ OMEROHOST }}.biobank.profile
export PYTHONPATH={{ OMEROPYTHONLIBDIR }}:{{ ICEPYTHONLIBDIR }}:$PYTHONPATH