#!/bin/bash

cd {{ OMEROBIOBANKDIR }}
source {{ OMEROBIOBANK_VENV }}/bin/activate
export PYTHONPATH={{ OMEROPYTHONLIBDIR }}:{{ ICEPYTHONLIBDIR }}:$PYTHONPATH
python setup.py install
python build_configuration.py -H {{ OMEROHOST }} -U {{ OMEROUSER }} -P {{ OMEROPASSWORD }} --profile
